@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Signika+Negative&display=swap');

/* Resetting broswer default stylesheets */
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Signika Negative', sans-serif;
}

body {
    background-color: #fafafa;
}

.hide {
    display: none;
}

.page-container {
    margin: auto;
    margin-top: 50px;
    width: 60%;
    height: 100%;
    background-color: #fafafa;
}

.dark-bg-text {
    color: #fafafa;
    text-decoration: none;
}

.menus {
    color: #fafafa;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    margin-left: 20%;
    width: 60%;
    min-height: 50px;
}

.menu-font a {
    color: #fafafa;
    text-align: center;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #fafafa !important;
}

/* Sticky Nav styling */
.sticky-menu {
    height: 50px;
}

.sticky-menu ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
}

.sticky-menu a {
    float: left;
    padding: 14px 5%;
    width: 10vw;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* Animation line https://www.30secondsofcode.org/css/s/hover-underline-animation */
.animation-line-sticky, .animation-line-white-bg {
    position: relative;
}

.animation-line-sticky, .animation-line-white-bg {
    display: inline-block;
}

.animation-line-sticky:after, .animation-line-white-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.animation-line-white-bg:after {
    background-color: #333;
}

.animation-line-sticky:hover:after, .animation-line-white-bg:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}

/* Styling header */
header {
    background-color: #333;
    font-size: 16px;
}

header h1 {
    color: #D8AD00;
    position: relative;
    top: -3vw;
    text-align: center;
    font-size: 6vw; 
    font-family: 'Passion One', cursive, sans-serif;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333;
}

header p {
    color: #fafafa;
    font-size: inherit;
    font-size: 200%;
    text-align: center;
    position: relative;
    top: -3vw;
}

#home-quick-links {
    margin-top: 20px;
    list-style-type: none;
    display:flex;
    justify-content: center;  
}

#home-quick-links li {
    text-align: center;
    width: 15%;
}

#home-quick-links a {
    margin-top: 20px;
    width: 6vw;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-decoration: none;
}

.why {
    background-color: #D8AD00;
    margin: 25px 0;
    overflow: auto;
}

.why h2, .why p{
    text-align: center;
}

.why h2 {
    padding: 2% 0;
}

.why-left p {
    margin: 0 5% 0 38.33%;
}

.why-right p {
    margin: 0 38.33% 0 5% ;
}

.why-left > img {
    float: left;
    width: 33.33333%;
}

.why-right > img {
    float: right;
    width: 33.33333%;
}

footer {
    color: #fafafa;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    min-height: 50px;
}