@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&family=Passion+One&family=Signika+Negative&display=swap');

/* Resetting broswer default stylesheets */
* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Signika Negative', sans-serif;
    color: #333;
}

body {
    background-color: #fafafa;
}

.fa-brands {
    color: #fafafa; 
}

.page-container {
    margin: auto;
    margin-top: 49px;
    width: 60%;
    max-width: 985px;
    height: 100%;
    background-color: #fafafa;
}

.button {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.button a {
    background-color: #a35900;
    color: #fafafa;
    border-radius: 5%;
    border: 2px solid #fafafa;
    padding: 1vw 1vw;
    margin: 1vw 0;
    text-align: center;
    text-decoration: none;
    
}

.button a:hover {
    background-color: #fafafa;
    color: #a35900;
    border-color: #a35900;
}

.dark-bg-text, [for="menu"] {
    color: #fafafa;
    text-decoration: none;
}

/* This makes sure the Nav bars are always centered and fixed to top of screen */
.fix-nav  {
    z-index:99;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
}

.fix-nav > div {
    display: flex;
    justify-content: center;
}

.menus {
    color: #fafafa;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    width: 60%;
    max-width: 985px;
    min-height: 50px;
}

.menu-font a {
    color: #fafafa;
    text-align: center;
    text-decoration: none;
}

.active {
    border-bottom: 1px solid #fafafa !important;
}

/* Sticky Nav styling */
.sticky-menu {
    height: 50px;
}

.sticky-menu ul {
    list-style-type: none;
    display:flex;
    justify-content: center;
}

.sticky-menu a {
    float: left;
    padding: 14px 5%;
    width: 10vw;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* Collapseable menu https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390*/
.collapsable-menu {
    display: none;
}

.collapsable-menu label {
    display: block;
    padding: 16px 0;
}

.collapsable-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsable-menu li {
    padding: 14px;
    margin: 0 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.collapsible-menu a {
    display: block;
    text-decoration: none;
}

.collapsible-menu label {
    font-size: 56px;
    display: block;
    cursor: pointer;
    padding: 10px 0 10px 50px;
}

input#menu {
    display: none;
}

.menu-content {
    max-height: 0;
    overflow: hidden;
}

input:checked ~ .menu-content {
    max-height: 100%;
    margin-bottom: 100vh;
}

/* Animation line https://www.30secondsofcode.org/css/s/hover-underline-animation */
.animation-line-sticky, .animation-line-collapsible, .animation-line-white-bg {
    position: relative;
}

.animation-line-collapsible {
    display: block;
}

.animation-line-sticky, .animation-line-white-bg {
    display: inline-block;
}

.animation-line-sticky:after, .animation-line-collapsible:after, .animation-line-white-bg:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fafafa;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.animation-line-white-bg:after {
    background-color: #333;
}

.animation-line-sticky:hover:after, .animation-line-collapsible:hover:after, .animation-line-white-bg:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
}

/* Styling header */
header.main {
    background-color: #333;
    font-size: 16px;
}

header.non-main h1 {
    font-family: 'Exo', sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
    text-decoration: underline;
    color: #333;
    text-align: center;
    text-transform: uppercases;
}

header.non-main p {
    font-family: 'Exo', sans-serif;
    font-size: 2vw;
    text-align: center;
}

header.main h1  {
    font-family: 'Passion One', cursive;
    color: #D8AD00;
    font-size: 6vw; 
    text-transform: none;
    text-align: center;
    position: relative;
    top: -3vw;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #333;
}

header.main p  {
    font-family: 'Signika Negative', sans-serif;
    color: #fafafa;
    position: relative;
    top: -3vw;
    font-size: inherit;
    font-size: 2.5vw; 
    text-align: center;
}

#home-quick-links {
    margin-top: 20px;
    list-style-type: none;
    display:flex;
    justify-content: space-around; 
}

#home-quick-links li {
    width: 100%;
    text-align: center;
}

#home-quick-links a {
    margin-top: 20px;
    width: 6vw;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    text-decoration: none;
}

.why {
    background-color: #D8AD00;
    margin: 25px 0;
    overflow: auto;
    display: flex;
}

.why:nth-of-type(2n) {
    flex-direction: row-reverse;
}


.why img {
    flex: 50%;
}

.why h2, .why p{
    text-align: center;
}

.why h2 {
    padding: 2% 0 0.5%;
    font-size: 3vw;
}

.why p {
    font-size: 1.7vw;
}

.why-left p {
    margin: 0 5% 0 5%;
}

.why-right p {
    margin: 0 5% 0 5% ;
}

.why-left > img {
    float: left;
    width: 50%;
}

.why-right > img {
    float: right;
    width: 50%;
}

footer {
    color: #fafafa;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    min-height: 50px;
}

.instruction {
    background-color: #D8AD00;
    margin: 10px 0;
}

.instruction div {
    padding: 10px 10px;
}

.instruction div p {
    padding: 10px 10px;
}

/* Large Screen screen */
@media only screen and (min-width: 1642px) {

    header.non-main h1 {
        font-size: 66px;
    }

    header.non-main p {
        font-size: 33px;
    }

    header.main h1 {
        font-size: 98.5px;
        position: relative;
        top: -49.23px;
    }

    header.main p {
        font-size: 41px;
        position: relative;
        top: -49.23px;
    }

    .why h2 {
        font-size: 49.2px;
    }

    .why p {
        font-size: 31.2px;
    }
}

/* Smaller than laptop screen */
@media only screen and (max-width: 1023px) {

    .page-container {
        width: 90%;
        max-width: 615px;
    }

    header.non-main h1 {
        font-size: 41px;
    }

    header.non-main p {
        font-size: 21px;
    }

    header.main h1 {
        font-size: 61.44px;
        position: relative;
        top: -31px;
    }

    header.main p {
        font-size: 25.6px;
        position: relative;
        top: -31px;
    }

    .menus {
        width: 90%;
        max-width: 615px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .sticky-menu {
        display: none;
    }

    .collapsable-menu {
        display: block;
    }

    .why h2 {
        font-size: 30.72px;
    }

    .why p {
        font-size: 19.456px;
    }

}

/* Smaller then tablet screen (768px) */
@media only screen and (max-width: 767px) {

    #home-quick-links li:nth-child(2n) {
        display: none;
    }
    
}

/* Screen size where max-width is less then 701px */
@media only screen and (max-width: 700px) {

    header.non-main h1 {
        font-size: 6vw;
    }

    header.non-main p {
        font-size: 3vw;
    }

    header.main h1 {
        font-size: 9vw; 
        top: -4vw;
        -webkit-text-stroke-width: 1px;
    }

    header.main p {
        top: -4vw;
        font-size: 20px; 
    }

    .why h2 {
        font-size: 4.4vw;
    }
    
    .why p {
        font-size: 2.7vw;
    }

}

/* Images in home sections are 500px wide. When screen is small enough change wrap style of home sections */
@media only screen and (max-width: 555px) {

    .why {
        flex-wrap: wrap;
    }

}

/* Mobile L */
@media only screen and (max-width: 425px) {

    header.non-main h1 {
        font-size: 25.5px;
    }

    header.non-main p {
        font-size: 13px;
    }

    header.main h1 {
        font-size: 38.34px; 
    }

    header.main p {
        font-size: 20px; 
    }

    .why h2 {
        font-size: 18.7px;
    }
    
    .why p {
        font-size: 12px;
    }

}